POSTGRES_DB=permissiongraph
POSTGRES_USER=permissiongraph
POSTGRES_PASSWORD=replace-with-local-password
POSTGRES_PORT=55432
REDIS_PORT=6379
AUTH_JWT_SIGNING_KEY=replace-with-at-least-32-characters
AUTH_JWT_ISSUER=PermissionGraph
AUTH_JWT_AUDIENCE=PermissionGraph.Api
AUTH_JWT_ACCESS_TOKEN_MINUTES=15
AUTH_REFRESH_TOKEN_HASH_KEY=replace-with-at-least-32-characters
AUTH_REFRESH_TOKEN_DAYS=30
AUTH_REQUIRE_CONFIRMED_EMAIL=true
AUTH_AUTO_CONFIRM_EMAIL=false
AUTH_NEW_USERS_ARE_ACTIVE=true
